@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
  text-align: center;
}

h2, ::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: center;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  text-align: center;
}
